production:
  adapter: {{ redmine.db.adapter }}
  database: {{ redmine.db.dbname }}
  host: {{ redmine.db.host }}
  username: {{ redmine.db.user }}
  password: "{{ redmine.db.password }}"
  encoding: utf8
